* {
    position: relative;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    position: absolute;
}

#header {
    height: 10%;
    background-color: red;
}

#center {
    height: 83%;
    background-color: green;
}

#footer {
    height: 7%;
    background-color: pink;
}

#footer > h3 {
    font-size: 1vw;
    text-align: right;
}